<!DOCTYPE html>
<html>

<head>
    <title>Yelp Camp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<!-- <div class="navbar navbar-expand-lg bg-light mb-2">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="/">YielCamp</a>
            <a class="nav-item active" href="/campgrounds">Home <i class="fas fa-home"></i></a>
        </div>
        </ul>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav navbar-right">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-navr">
                    <% if (!currentUser){ %>
                    <li class="nav-item"></li>
                    <a class="nav-link" href="/login">Log In <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign Up <i class="fas fa-user-plus"></i></a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Signed In As <i class="fas fa-user"></i>
                            <%=currentUser.username%></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                    <%} %>
                </ul>
            </div>
        </div>
    </div>
</div> -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">YelpCamp <i class="fas fa-campground"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/campgrounds" class="nav-link active">Home <i class="fas fa-home"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <% if(!currentUser){ %>
            <li class="nav-item">
                <a href="/login" class="nav-link">Login <i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link">Sign Up <i class="fas fa-user-plus"></i></a>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a href="#" class="nav-link">Signed In As <i class="fas fa-user"></i> <%= currentUser.username %></a>
            </li>
            <li class="nav-item">
                <a href="/logout" class="nav-link">Logout <i class="fas fa-sign-out-alt"></i></a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="container">
    <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
</div>




<body>